@model WebAppMVCFootball.Models.TSquadra

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        /* Stile per la riga della tabella */
        .table tbody tr {
            background-color: #fff;
            color: #333;
        }
        /* Stile per l'header della tabella */
        .table thead th {
            background-color: black;
            color: white;
        }
        /* Stile per i link */
        a {
            color: #228B22;
        }
        /* Stile per l'elemento h1 */
        h1 {
            color: #fff;
            text-align: center;
        }
        /* Stile per la tabella */
        .table {
            border-radius: 10px;
            overflow: hidden;
        }
        /* Stile per l'intera pagina */
        body {
            background-image: url('https://images4.alphacoders.com/280/280636.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
        }
        /*stile del create new (paragrafo ed a)*/
        p a {
            color: #fff;
            background-color: #228B22;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                </th>
                <th>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AnnoFondazione)
                    </dt>
                </th>
                <th>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdCampionatoNavigation)
                    </dt>
                </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                </td>
                <td>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AnnoFondazione)
                    </dd>
                </td>
                <td>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdCampionatoNavigation.Id)
                    </dd>
                </td>
            </tr>
        </tbody>
        <br />
    </table>

    @* bottoni *@
    <center>
        <p>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a asp-action="Index">Back to List</a>
        </p>

</center>

</body>
</html>